<div class="row voucherContainer">
    <div class="col-md-12">
        <h2 class="text-center">Please input your Outlet code here!</h2>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="boxForm text-center">
            <div class="form-group">
                <input 
                    type="text"  
                    class="form-control col-md-12 input1"  
                    name='advertiserName'
                    placeholder="Advertiser Name" 
                    [(ngModel)]="advertiserName">
                <input 
                    type="text"  
                    class="form-control col-md-12 input1"  
                    name='outletCode'
                    placeholder="Outlet Code" 
                    [(ngModel)]="outletCode">
                <re-captcha
                    id="recaptcha" 
                    (resolved)="resolved($event)"
                    siteKey="6Le1ISgdAAAAAGN1ScmjOd4mOq-A6F6kB36OfbEs"
                ></re-captcha>
                <button 
                    type="submit" 
                    class="btn btn-primary col-md-12"
                    [disabled]="disabledSubmit"
                    (click)="onSubmit()"
                    >Submit</button>
                  
              </div>
              <div *ngIf='loading' class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">Loading...</span>
                </div>
                {{message}}
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


